<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarCloudTravel</title>
</head>
<link rel="stylesheet" href="./style.css">
<script src="./script.js" defer></script>

<body>

    <section class="city-sceen">
        <div class="cloud"></div>
        <div class="road"></div>
        <img src="../src/images/lights-off.png" alt="spaceForCar" class="car">
        <audio src="../src/mp3/Baanigondu Elle Ellide(KannadaMaza.In).mp3" class="carAudio" type="audio/mpeg"></audio>
    </section>
    <div class="displayFlag">
        <h2>You game will start in <span id="nSeconds">5</span> seconds...</h2>
    </div>
</body>

</html>