<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoiceChatBot</title>
</head>
<link rel="stylesheet" href="./voiceChatBot.css">
<script src="./voiceChatBot.js" defer></script>

<body>
    <header>Chat with Robo 2.O</header>
    <section>
        <div class="userArea">
            <img src="../images/user.png" alt="spaceForUser">
        </div>
        <div class="chatAreaMain">
            <div class="chatAreaOuter"></div>
        </div>
        <div class="chatBotArea">
            <img src="../images/chatbot.png" alt="spaceChatBot">
        </div>
        <button id="mic"><i class="flaticon-microphone"></i></button>
    </section>
</body>

</html>